body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.logo {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 4px;
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}

